.env
.env*
.git
**/.dockerignore
**/.env
**/.eslintignore
**/.gitignore
**/.markdownlint.json
**/.prettierignore
**/.svelte-kit
**/.vscode
**/*.md
**/*eslint*
**/build
**/dist
**/Dockerfile*
**/node_modules/
**/prettier*
/scripts
package.documentation.js
prod
README