/*place global styles here */
html,
body {
	@apply h-full overflow-hidden;
}
@font-face {
	font-family: 'Space Grotesk';
	src: url('/fonts/SpaceGrotesk.ttf');
	font-display: swap;
}
.bordered {
	@apply border border-tertiary-500
}
fieldset {
	@apply pl-2 pb-2 pr-2;
}
legend {
	@apply text-tertiary-500 text-lg
}
